<div class="row filter-search">
		<form class="">
			<div class="col-md-4">
				<div class="form-group" style="display:inline;">
				  <div class="input-group">
				    <input type="text" class="form-control" placeholder="What are searching for?">
				    <span class="input-group-btn">
				          <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span> </button>
				    </span>
				  </div>
				</div>
			</div>
			<div class="col-md-7">
				<div class="row">
					<div class="col-md-3">
						<select name="dependencias">
							<option value="#">Dependencia</option>
							<option value="#">Prueba Dependencia</option>
							<option value="#">Prueba Dependencia</option>
							<option value="#">Prueba Dependencia</option>
							<option value="#">Prueba Dependencia</option>
							<option value="#">Prueba Dependencia</option>
							<option value="#">Prueba Dependencia</option>
							<option value="#">Prueba Dependencia</option>
						</select>						
					</div>					
					<div class="col-md-3">
						<select name="sector">
							<option value="#">Sector</option>
							<option value="#">Prueba Sector</option>
							<option value="#">Prueba Sector</option>
							<option value="#">Prueba Sector</option>
							<option value="#">Prueba Sector</option>
							<option value="#">Prueba Sector</option>
							<option value="#">Prueba Sector</option>
							<option value="#">Prueba Sector</option>
						</select>						
					</div>
					<div class="col-md-3">
						<select name="status">
							<option value="#">Status</option>
							<option value="#">Prueba Status</option>
							<option value="#">Prueba Status</option>
							<option value="#">Prueba Status</option>
							<option value="#">Prueba Status</option>
							<option value="#">Prueba Status</option>
							<option value="#">Prueba Status</option>
							<option value="#">Prueba Status</option>
						</select>						
					</div>
					<div class="col-md-3">
						<div class="date"><span class='glyphicon glyphicon-calendar'></span><span>Fecha</span> <span class="caret"></span></div>						
					</div>
				</div>
			</div>	
			<div class="col-md-1">
				<button type="button" class="btn btn-search">Buscar</button>
			</div>
		</form>	
</div>
