<div class="navbar navbar-custom navbar-fixed-top">
 <div class="navbar-header">
    <a class="navbar-brand" href="/"><img class='logo' src='/images/sicuheader.png' />Sistema de Información Ciudadana</a>
      <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#"><span class='glyphicon glyphicon-user'></span> Login</a></li>
        <li><a href="#"><span class='glyphicon glyphicon-lock'></span>Salir</a></li>
      </ul>
    </div>
</div>
<div class='banner'>
  <p><img alt='Sistema de Información Ciudadana' src='/images/sicubanner.png' /></p>
  <p class='color-white'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
  <p class='color-green'>Duis aute irure dolor in reprehenderit in voluptate velit </p>
</div>
<%- partial('filterSearch') -%>
