<div class="row">
  <div class="col-xs-12" id="left">
  
    <h2></h2>
    
    <!-- lista de solicitudes -->
      <% for( x=0;x<10;x++ ){ %>
          <div class="panel panel-default">
              <div class="panel-heading">
                  <a href="/solicitud">Solicito una copia simple del Acta del Pleno del Instituto Celebrada el 10 de junio de 2003</a>
                  <span class='date'> | 2003/06/12</span>
              </div>
          </div>
          <div class="row">
            <div class="col-md-9">
              <div class='solicitud-data'>
                  <p><strong>Tipo de solicitud:</strong> Información Pública</p>
                  <p><strong>Estatus:</strong> Terminada</p>
                  <p>Todos los martes el Pleno del IFAI lleva a cabo sus sesiones ordinarias</p>
              </div>              
            </div>
            <div class="col-md-3">
              <div class="status">
                <div class="votes"><p>Votos</p><p><strong>22</strong></p></div>
                <% if(x%2==0){ %>
                <div class="respondida"><p>Respondida</p><p><span class="glyphicon glyphicon-ok"></span></p></div>
                <% }else{%>
                <div class="respondida"><p>Respondida</p><p><span class="glyphicon glyphicon-remove"></span></p></div>
                <% }%>
                <div class="clear"></div>
              </div>
            </div>
          </div>

        <hr>
      <% } %>
    <!-- / lista de solicitudes -->

    <!--<p>
    <a href="http://bootply.com" target="_ext" class="center-block btn btn-primary">More Bootstrap Snippets on Bootply</a>
    </p>-->
    <ul class="pagination">
      <li><a href="#">&laquo;</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
      
    <hr>      

  </div>
  
</div>
