<div class="container-fluid" id="main">
  	<div class="row">
    	<div class="col-xs-12" id="left">
			<h1>Resultados de búsqueda</h1>
			<h4> para: " solicitud búsqueda " </h4>
			<br /><br />
			<!-- lista de solicitudes -->
	        <% for( x=0;x<10;x++ ){ %>
	            <div class="panel panel-default">
	                <div class="panel-heading">
	                    <a href="">Solicito una copia simple del Acta del Pleno del Instituto Celebrada el 10 de junio de 2003</a>
	                    <span class='date'> | 2003/06/12</span>
	                </div>
	            </div>
	            <div class='solicitud-data'>
	                <p><strong>Tipo de solicitud:</strong> Información Pública</p>
	                <p><strong>Estatus:</strong> Terminada</p>
	                <p>Todos los martes el Pleno del IFAI lleva a cabo sus sesiones ordinarias</p>
	            </div>
	          <hr>
	        <% } %>
	      <!-- / lista de solicitudes -->
		</div>
	</div>
</div>
