<div class="panel panel-default">
	<div class="panel-heading">
		<h4><%- dependencia.nombre %></h4>	
	</div>		
</div>

<div class='dependencia-data'>
	<p><strong>Dirección : </strong> México , Sonora , HERMOSILLO </p>
	<p><strong>Numero de solicitudes : </strong> 12</p>
</div>