<div class="panel panel-default">
	<div class="panel-heading">
		<h4>ADMINISTRACIÓN FEDERAL DE SERVICIOS EDUCATIVOS EN EL DISTRITO FEDERAL (AFSEDF)</h4>	
	</div>		
</div>

<div class='dependencia-data'>
	<p><strong>Dirección : </strong> México , Sonora , HERMOSILLO </p>
	<p><strong>Numero de solicitudes : </strong> 12</p>
</div>